*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif ;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background: #080808;
    color: #fff;
}
#header{
    width: 100%;
    height: 100vh;
    background:#080808;
    background-size: cover;
    background-position: center;
}
.header-text img{
    width: 500px;
    height: 500px;
    border-radius: 50%;
    margin-top: 30px;
}
.header-text{
    display: flex;
    justify-content: space-between;
}
.container{
    padding: 10px 10%;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.logo{
    width: 140px;
    margin-top: 20px;
    color:#fff;
}
nav h1 span{
    color: #ff004f;
}
nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    height: 3px;
    width: 0;
    background: #ff004f;
    position: absolute;
    left:0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100% ;
}
.header-text h1{
    margin-top: 15%;
    font-size: 50px;
}

/* ----------------------about section--------------------------- */
#about{
    padding: 80px 0px;
    color: #ababab;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    height: 80vh;
    border-radius: 20px;
}
.about-col-2{
    flex-basis: 60%;
}
.subtitle{
    color: #fff;
    font-size: 60px;
    font-weight: 600;
}
.tab-titles{
    display: flex;
    margin: 20px 0px 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-links::after{
    width: 50%;
}
.tab-content ul li {
    list-style: none;
    margin: 10px 0px;
}
.tab-content span{
    color: #b54769;
    font-size: 16px;
}
.tab-content{
    display: none;
}
.tab-content.active-tab{
    display: block;
}

/* ------------------------------project section---------------------------- */

#projects{
    padding: 30px 0;
}

.project-list{
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.project-list div{
    background:#262626 ;
    padding: 40px;
    font-size: 14px;
    font-weight: 300;
    border-radius:10px ;
    transition: background 0.5s , transform 0.5s;
}
.project-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.project-list div h2{
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 15px;
}
.project-list div a{
    text-decoration: none;
    color: #fff;
    font-size:12px;
    margin-top:20px ;
    display: inline-block;
}
.project-list div:hover{
    background: #ff004f;
    transform: translateY(-10px);
}

/* -------------------------------------contact section----------------------------- */

#contact{
    margin-top: 20px;
}
.contact-left{
    flex-basis: 35%;
}

.contact-right{
    flex-basis: 60%;
}

.contact-left p{
    margin-top: 30px;

}
.contact-left p i{
    margin-right: 15px;
    font-size: 25px;
    color: #ff004f;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: tranform 0.5s;
}
.social-icons a:hover{
    color: #ff004f;
    transform: translate3d(-5px);
}

.btn2{
    display: inline-block;
    background: #ff004f;
    color: #fff;
    text-decoration: none;
    padding: 15px;
    margin-top: 30px;
    border-radius: 10px;
}

.contact-right form{
    width: 100%;
}

form input,form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 10px;
    cursor: pointer;
}
.copyright{
      width: 100%;
      padding: 55px;
}
#msg{
    display: block;
    color: #61b752;
    margin-top: 10px;
}

nav .fa-solid{
    display: none;
}


@media only screen and (max-width:600px) {

    nav h1{
        font-size: 30px;
    }
    .header-text{
        margin-top: 50%;
        font-size: 16px;
    }
    .header-text img{
        width: 150px;
        height: 150px;
    }
    .header-text h1{
        font-size: 30px;
    }
    nav .fa-solid{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background:#ff004f ;
        position:fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }

    nav ul li{
        display: block;
        margin: 25px;
    }

    nav ul .fa-solid{
        position:absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }   
    .subtitle{
        font-size: 40px;
    }
    .about-col-1 , .about-col-2{
        flex-basis: 100%;  
    }
    .about-col-1{
        margin-bottom: 30px;
    }
    .about-col-2{
        font-size: 20px;
    }
    .contact-left , .contact-right{
        flex-basis: 100%;
    }

}